.container__catalog {
  margin: 50px auto 0;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px 48px;
  justify-content: center;
  max-width: 1000px;

  @media (max-width: 944px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 696px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (max-width: 448px) {
    grid-template-columns: 200px;
  }
}
